.text {
    color: #ffb101;
    font-weight: 700;
    overflow: hidden;
    font-family: sans-serif;
    font-size: 35px;
    text-align: justify;
    padding-bottom: 20px;
}
.title {
    text-align: center;
    padding-top: 20px;
}

body {
    background-color: black;
    width: 100%;
    height: 100%;
}

.titles {
    position: fixed;
    width: 14em;
    height: 50em;
    bottom: 60%;
    left: 50%;
    margin-left: -7em;
    font-size: 350%;
    transform-origin: 50% 100%;
    transform: perspective(500px) rotateX(45deg) translateZ(-100px);
}

.titles-content {
    position: fixed;
    animation: star-wars 30s linear 0s infinite;
}
@keyframes star-wars {
    0% { top: 100%; }
    100% { top: 50%; }
}
.audio {
    opacity: 0;
}